h1 {
    font-feature-settings:"smcp";
    font-variant:small-caps;
    font-style:italic;
    text-align:center;
    font-size:2.6em
  }
  .disco-ball {
    display:flex;
    flex-direction:column;
    position:relative;
    box-shadow:0 0 30px #000;
    height:400px;
    width:400px;
    border-radius:100%;
    overflow:hidden;
    margin-top:1rem
  }
  .white-text {
    color:#fff
  }
  .disco-ball-row {
    display:flex;
    flex-direction:row;
    flex-grow:1;
    width:100%;
    cursor:resize
  }
  .disco-square-left {
    display:flex;
    flex:1 1;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end
  }
  .disco-square-center {
    display:flex;
    flex:.9 1;
    flex-direction:column;
    justify-content:center;
    align-items:center
  }
  .disco-square-right {
    display:flex;
    flex:1 1;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start
  }
  .reference-wrapper-left {
    width:45%;
    margin-right:.8rem;
    margin-left:1rem
  }
  .reference-wrapper-center,
  .reference-wrapper-left {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    height:100%;
    justify-content:center;
    align-items:center;
    font-size:.7rem;
    font-style:italic;
    text-align:center;
    margin-top:1rem
  }
  .reference-wrapper-center {
    width:80%
  }
  .reference-wrapper-right {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:45%;
    height:100%;
    margin-right:1rem;
    margin-left:.8rem;
    justify-content:center;
    align-items:center;
    font-size:.7rem;
    font-style:italic;
    text-align:center;
    margin-top:1rem
  }
  .bottom {
    align-items:flex-start
  }
  .reference-center,
  .reference-left {
    font-size:.7rem;
    font-style:italic;
    text-align:center;
    margin-top:1rem
  }
  .reference-right {
    font-size:.7rem;
    font-style:italic;
    text-align:start;
    margin-top:1rem
  }
  @media (max-width:700px) {
    .disco-ball {
      height:350px;
      width:350px
    }
    .reference-wrapper-left {
      margin-right:.4rem;
      margin-left:.6rem
    }
    .reference-wrapper-right {
      margin-right:.6rem;
      margin-left:.4rem
    }
    .reference-center,
    .reference-left,
    .reference-right {
      font-size:.6rem
    }
  }
  .page_main__nw1Wk {
    justify-content:flex-start;
    min-height:90vh
  }
  .page_header-wrapper__8M2yo,
  .page_main__nw1Wk {
    display:flex;
    flex-direction:column;
    align-items:center
  }
  .page_header-wrapper__8M2yo {
    justify-content:flex-end;
    padding-top:1rem;
    margin-bottom:1rem;
    width:100%;
    height:100%;
    background-color:#a50034
  }
  .page_disco-wrapper__WDvZd {
    padding:2rem
  }
  .page_header__oRW75 {
    color:#fff;
    width:100%;
    margin-bottom:1rem
  }
  .page_subheader__6oWPn {
    color:#fff;
    padding-bottom:1rem
  }
  .page_start-wrapper__VP53S {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    margin-top:2rem;
    margin-bottom:2rem;
    width:100%;
    height:100%
  }
  .page_start-button__LhJ4o {
    width:200px;
    height:50px;
    background-color:#1e90ff;
    border:none;
    color:#fff;
    padding:15px 32px;
    text-align:center;
    font-size:16px;
    border-radius:12px;
    margin-top:2rem;
    margin-bottom:2rem
  }
  .page_disco-img__DzOvt {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:12px
  }
  .page_nav-link__oJY3e {
    width:200px;
    height:50px;
    background-color:#009ca6;
    border:none;
    text-decoration:none;
    color:#fff;
    padding:15px 32px;
    text-align:center;
    font-size:16px;
    border-radius:12px;
    margin-top:2rem;
    margin-bottom:2rem
  }
  @media (max-width:700px) {
    .page_header__oRW75 {
      font-size:1.75rem
    }
    .page_subheader__6oWPn {
      font-size:1.2rem
    }
  }
  